html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
  line-height: 1.3;
}

/* 테마 시작 */

/* 테마 light */
:root {
  --background-color:white;
  --text-color:#343434;
  --primary-color-1:#9122e0;
}

/* 테마 dark */
:root.dark {
  --background-color:#343434;
  --text-color:white;
  --primary-color-1:#9122e0;
}

:root {
  color:var(--text-color);
  background-color:var(--background-color);
  transition: all 2s;
}

.color-primary {
  color:var(--primary-color-1);
}

:root.dark .color-primary {
  filter:brightness(150%);
}

/* 테마 끝 */